@import "./partials/variables";
@import "./partials/navbar";
@import "./partials/buttons";
@import "./partials/footer";

.nav {
  .side-nav {
    .nav-index {
      a {
        text-decoration: none;
        color: $color-primary;
      }
    }
    .nav-list:nth-child(2) {
      color: $color-secondary;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
